#countDownWrap {
  margin:50px auto;
  width:1500px;
  text-align:center;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px 30px;
  color: #000000;
}

#countDown {
  width: 1400px;
  margin-bottom:15px;
  font-size:500px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  border-bottom: #000000 solid 4px;
}

#startBtn { margin-bottom:8px;}
#stopBtn { margin-bottom:15px;}
#resetBtn { margin-bottom:15px;}
 
#control {
  clear:both;
  margin-top: 30px;
  margin-left: 30px;
}
#control input {
  margin-left: 50px;
  width:200px;
  height:35px;
}
 
#error {
  margin:10px;
  color:#F00;
  font-size:14px;
}
li {
  list-style: none;
}
.modalwin {
    position: fixed;
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 #000;
    z-index: 1;
}

.modalwin dl {
    padding: 0px 10px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.modalwin h1 {
    background: #ededed;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 1.2em;
    margin-top: 0;
    text-align: center;
}

.modalwin-contents {
    padding: 5px;
}

.modalwin-contents img {
    margin: 0 0 1em 0;
    float: left;
    width: 30%;
    height: 30%;
}

.modalwin-contents p {
    margin: 0 0 1em 0;
    line-height: 1.8em;
}

#shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #999;
    opacity: 0.9;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .modalwin {
        width: 90%;
    }
}

.btn {
  width: 400px;
  height: 80px;
  font-size: 20px;
  border-radius: 80px;
  color: white;
  background-color: royalblue;
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'Mukta Malar', sans-serif;
}

#startBtn .btn {
  width: 400px;
  height: 80px;
  font-size: 20px;
  border-radius: 80px;
  color: white;
  background-color: lightskyblue;
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'Mukta Malar', sans-serif;
  margin-bottom: 20px;
}

#col-2 {
  margin-top: 50px;
}

p {
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'Mukta Malar', sans-serif;
}

.field {
  margin: auto;
  width: 400px;
}

.col-3 {
  width: 1450px;
  margin: auto;
  text-align: center;
}

.col-4 {
  width: 700px;
  text-align: center;
  display: inline-block;
}